---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>EchoVoice | TechAtlasDev</title>
		<ViewTransitions />
	</head>
	<body
		class="min-h-screen bg-gradient-to-t from-black via-50% via-black to-transparent">
		<slot />
	</body>
</html>
