---
import Bentogrid from "./ui/Bentogrid.astro";
import Extras from "./ui/extras.astro";
import Credits from "./ui/Credits.astro";
---

<section class="w-full flex flex-col items-center justify-between py-10">
	<Bentogrid />
	<div>
		<Extras />
		<Credits />
	</div>
</section>
