@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;

  background: rgb(59, 59, 59);
  background: linear-gradient(80deg, rgb(59, 59, 59) 0%, rgba(0, 0, 0, 1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bluring {
  background: linear-gradient(10deg, #5900ff 50%, rgba(204, 1, 255, 0.9) 50%);
}
